*{
  -moz-box-sizing:content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

html,
body {
  font-family: Arial, Sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:darkorange;
}

#map {
  height: 100%;
  width: 80%;
}

#places_title{
  position: fixed;
  top: 0px;
  left: 81%;
  width: 30%;
  font-size: 14px;
  margin-left: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}



#search {
  position: fixed;
  top: 45px;
  left: 80%;
  height: 35px;
  width: 18.6%;
  font-size: 15px;
  background-color:white;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 20px;
  padding-left: 5px;
}

#list {
  position: fixed;
  height: 50%;
  overflow: auto;
  top: 85px;
  left: 80%;
  width: 18%;
  background-color:white;
  padding: 7px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 10px;
}

#list #list_name{
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  padding: 10px;
  background-color:coral;
  color: #fff;
  cursor: pointer;
  border-radius:50px ;
}
#list #list_name:hover{
  background-color: forestgreen;
}

@media only screen and (max-width: 650px) {

    h2 {
      font-size: 12px;
    }

    #image {
      display: none;
    }

    #places_title {
    position: fixed;
    top: 0px;
    width: 30%;
    right: 5%;
    }

    .closed_nav {
      display: none;
    }

    #search {
    position: fixed;
    right: 5%;
    top: 40px;
    height: 30px;
    width: 29%;
    font-size: 8px;
    }

    #list {
    position: fixed;
    height:40%;
    overflow: scroll;
    top: 80px;
    right: 5%;
    width: 14.5%;
    background-color: #fff;
    font-size: 12px;
    padding-right: 10px;
    }

}